body {
    background-color: lightblue;
    color: #ffffff;
}
.App {
    display: grid;
}
.cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.heading {
    text-align: center;
}